.textWrapper {
	margin-bottom: 20px;
}

.textWrapper label {
	display: block;
	margin-bottom: 8px;
}

.textBox {
	display: block;
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
	height: 80px;
	border: none;
	border-radius: 5px;
  background-color: #c1666B;
  color: #fff;
	font-family: inherit;
	font-size: 1rem;
}

.buttonText {
  color: #D4B483;
  margin-top: 0.5rem;
}

.buttonFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
